DEMO_NAME=my-demo
EXTERNAL_URL=http://gitlab:8080/
GITLAB_CE_VERSION=16.2.1-ce.0
SONARQUBE_VERSION=10.1-community
SONARQUBE_PASSWORD=sonarqubeadminpassword
SONARQUBE_PORT=9000
HTTP_PORT=8080
GITLAB_PASSWORD=the-initial-password-for-user-root
REGISTRATION_TOKEN=a-random-token-to-register-gitlab-runners
SSH_PORT=7722