DEMO_NAME=my-demo
DIND_VERSION=24.0.7
DTRACK_API_PORT=8081
DTRACK_API_VERSION=4.10.1
DTRACK_FRONTEND_PORT=5080
DTRACK_FRONTEND_VERSION=4.10.0
DTRACK_HOSTNAME=localhost
DTRACK_PASSWORD=dependencytrack
GITLAB_HOSTNAME=localhost
GITLAB_PASSWORD=minimmm-12-COMPLXX
GITLAB_PORT=8080
GITLAB_SSH=7722
GITLAB_VERSION=16.8.0-ce.0
RUNNER_VOLUME=dependency-check:/usr/share/dependency-check/data:z
SONARQUBE_HOSTNAME=localhost
SONARQUBE_PASSWORD=sonarqube
SONARQUBE_PORT=9000
SONARQUBE_VERSION=10.3.0-community