DEMO_NAME=my-demo
EXTERNAL_URL=http://gitlab:8080/
GITLAB_CE_VERSION=15.5.4-ce.0
SONARQUBE_VERSION=9.7.1-community
HTTP_PORT=8080
INITIAL_ROOT_PASSWORD=the-initial-password-for-user-root
REGISTRATION_TOKEN=a-random-token-to-register-gitlab-runners
SSH_PORT=7722